{% extends "layout.html" %}
{% block body %}
    <h2>Ask a Question</h2>
    <form method=post>
      <input type=input name=question>
      <input type=submit value=Ask!>
    </form>

    {% if answer %}
    <h3>{{ question }}</h3>
    <div id="content" style="width:50%">{{ answer }}</div>
    {% endif %}

      <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      <script>
	    let original_text = document.getElementById('content').innerHTML
	    document.getElementById('content').innerHTML =
	      marked.parse(original_text);
      </script>
{% endblock %}
