{% extends "layout.html" %}
{% block body %}
    <h1>Process Files</h1>

    <h2>Files in the Repository:</h2>

    <ul>
    {% for filename in uploaded_files %}
      <li>{{ filename }}</li>
    {% endfor %}
    </ul>

    <h2>Are you Sure?</h2>
    <form method=post enctype=multipart/form-data>
      <input type=submit value=Yes>
    </form>

    <h2>You also might be interested:</h2>
    <ul>
	    <li><a href='/upload'>/upload -> Upload PDF files as context</li>
	    <li><a href='/reset'>/reset -> Reset/Clear the Context/Database</li>
    </ul>
{% endblock %}
