<!doctype html>
<title>RAGu-eMLLiano 🍝 </title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>RAGu eMLLiano 🍝 </h1>
{% block body %}{% endblock %}
<hr>
{% block nav_ui %}
    <h2>UI Endpoints:</h2>
    <ul>
	<li><a href='/'>Home -> Documentation and exemples</a></li>
	<li><a href='/chat'>Chat -> Send questions</a></li>
	<li><a href='/upload'>Upload -> Upload PDF files as context</a></li>
	<li><a href='/embed_docs'>Embed_documents -> Process uploaded files</a></li>
	<li><a href='/reset'>/reset -> Reset/Clear the Context/Database</a></li>
    </ul>
{% endblock %}
{% block nav_api %}
{% endblock %}
