<!doctype html>
<title>RAGu-eMLLiano 🍝 </title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>RAGu eMLLiano 🍝 </h1>
{% block body %}{% endblock %}
<hr>
{% block nav %}
    <h2>UI Endpoints:</h2>
    <ul>
	<li><a href='/chat'>/chat -> Send questions</a></li>
	<li><a href='/upload'>/upload -> Upload PDF files as context</a></li>
	<li><a href='/embed_docs'>/embed_docs -> Process uploaded files</a></li>
	<li><a href='/reset'>/reset -> Reset/Clear the Context/Database</a></li>
    </ul>

    <h2>API Endpoints:</h2>
    <ul>
	<li><a href='/api/files'>/api/files</a> [GET, POST, DELETE] Use: -F "file=@myfile.pdf" </a></li>
	<li><a href='/api/embed_docs'>/api/embed_docs</a> [PUT, DELETE] </a></li>
	<li><a href='/api/chat'>/api/chat</a>[POST] JSON {"q": What are the healthcare benefits?"}</li>
    </ul>
    <h3>Examples:</h3>
    <textarea>
	# Setup the aplication
	curl http://127.0.0.1:5000/api/files
        curl -X POST -H "Content-Type: multipart/form-data" -F "file=@myfile.pdf" http://127.0.0.1:5000/api/files
	curl -X PUT http://127.0.0.1:5000/api/embed_docs
	curl -X POST http://127.0.0.1:5000/api/chat -d '{"question": "What are the healthcare benefits?"}'

	# Reset the aplication
	url -X DELETE http://127.0.0.1:5000/api/files
	url -X DELETE http://127.0.0.1:5000/api/embed_docs
    </textarea>

{% endblock %}
