{% extends "layout.html" %}
{% block body %}
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

    <h2>Files in the Repository:</h2>
    <ul>
    {% for filename in uploaded_files %}
      <li>{{ filename }}</li>
    {% endfor %}
    </ul>

    <h2>You also might be interested:</h2>
    <ul>
        <li><a href='/embed_docs'>/embed_docs -> Process uploaded files</li>
        <li><a href='/reset'>/reset -> Reset/Clear the Context/Database</li>
    </ul>

{% endblock %}
